{
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "experimentalObjectRestSpread": true,
    "forOf": true,
    "generators": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true
  },
  "plugins": [
    "import"
  ],
  "settings": {
    "import/parser": "babel-eslint"
  },
  "rules": {
    "array-bracket-spacing": [2, "never"],
    "comma-dangle": 0,
    "comma-style": [2, "last"],
    "eqeqeq": [2, "smart"],
    "handle-callback-err": [2, "^(err|error)$"],
    "indent": [2, 2, {"SwitchCase": 1}],
    "linebreak-style": [2, "unix"],
    "no-console": 0,
    "no-extra-semi": 1,
    "no-irregular-whitespace": 2,
    "no-multi-spaces": 2,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-param-reassign": [2, {"props": false}],
    "no-path-concat": 2,
    "no-trailing-spaces": 2,
    "no-unused-vars": 0,
    "no-undefined": 0,
    "no-var": 2,
    "no-with": 2,
    "padded-blocks": 0,
    "prefer-spread": 2,
    "quotes": [2, "single"],
    "quote-props": [2, "as-needed"],
    "radix": 2,
    "semi": [2, "never"]
  },
  "extends": ["eslint:recommended"]
}
